<section class="section section-search">
    <div class="container-fluid">
        <div class="banner-wrapper">
            <div class="banner-header text-center">
                <h1>Welcome Back!</h1>
                <p>Please login to access your dashboard</p>
            </div>
             
            <!-- login -->
            <div class="card-body text-center">
                <a class="btn btn-primary" [routerLink]="['/homepage/login']" >LOGIN</a>
            </div>
            <!-- /login -->
            
        </div>
    </div>
</section>